.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  width: 22em;
  height: 100vh;
  padding: 2rem;
  background-color: #1a1a1a;
}
.sidebarImageContainer {
  aspect-ratio: 1/1;
  width: 60%;
}
.sidebarImage {
  opacity: 0.4;
  transition: opacity 250ms;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
.sidebarImage:hover {
  opacity: 1;
}
.sidebarName {
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 1rem;
}
.sidebar ul {
  list-style: none;
  margin-block: 0;
  padding: 0;
}
.sidebar ul li + li {
  margin-top: 0.3rem;
}

@media (max-width: 786px) {
  .sidebar {
    position: unset;
    width: 100%;
    height: unset;
    text-align: center;
  }
  .sidebarImageContainer,
  .sidebarImage {
    display: none;
  }
}
