@keyframes verticalScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200rem, 0, 0);
  }
}

.stockContainer {
  overflow: hidden;
  padding: 0.5rem 0;
  background-color: var(--sidebarBackground);
}

.stockContainer > div {
  display: flex;
  flex-direction: row;
  animation: verticalScroll 30s linear infinite;
}

@media (max-width: 1200px) {
  .stockContainer > div {
    animation-duration: 40s;
  }
}
