.projectGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 786px) {
  .projectGrid {
    grid-template-columns: 1fr;
  }
}

.projectDescription {
  margin: 0.4rem 0;
}

.projectDescription,
.projectInfoContainer p {
  font-size: 90%;
}

.projectInfoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: auto;
}

.projectInfoContainer .label {
  margin-left: 0.5rem;
}
