@keyframes verticalScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-240rem, 0, 0);
  }
}

.stockContainer {
  display: flex;
  flex-direction: row;
  animation: verticalScroll 40s linear infinite;
}

@media (max-width: 1200px) {
  .stockContainer {
    animation-duration: 40s;
  }
}
