.container {
}

.grid {
  display: grid;
  gap: 2px;
  grid-template-columns: /*2fr*/ repeat(53, 1fr);
  /* grid-template-rows: repeat(7); */
}

.week {
}

.day {
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  margin-bottom: 2px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
}
.day:before {
  z-index: 100;
  content: attr(data-text);
  position: absolute;
  top: 0%;
  transform: translateY(-120%);
  left: -55px;
  max-width: 150px;
  width: max-content;
  padding: 0.25rem;
  border-radius: 5px;
  background: rgba(26, 26, 26, 1);
  font-size: 0.65rem;
  text-align: center;
  color: #02d463;
  display: none;
}
.day:hover:before {
  display: block;
}
.day:nth-child(7n) {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .day {
    border-radius: 1px;
  }
}
