@keyframes verticalScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200rem, 0, 0);
  }
}

.stockContainer {
  overflow: hidden;
  margin: 1rem 0;
}

.items {
  display: flex;
  flex-direction: row;
  animation: verticalScroll 30s linear infinite;
}

@media (max-width: 1200px) {
  .items {
    animation-duration: 40s;
  }
}

.stock {
  display: flex;
  justify-content: center;
  min-width: 10rem;
  max-width: 10rem;
}
.stockInner {
  display: flex;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
}
.stockInner:hover {
  background-color: #1f1f1f;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.change {
  display: flex;
  margin-left: 0.5rem;
}
.iconContainer {
  margin-right: 0.25rem;
}
.positive {
  color: #02d463;
}
.negative {
  color: red;
}
