.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  width: 22em;
  height: 100vh;
  padding: 2rem;
  background-color: var(--sidebarBackground);
}

/* Avatar */
.sidebar .avatar {
  opacity: 0.4;
  transition: opacity 250ms;
  aspect-ratio: 1/1;
  width: 60%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
.sidebar .avatar:hover {
  opacity: 1;
}

/* Name */
.sidebar .name {
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  margin-block: 0;
  padding: 0;
}
.sidebar ul li + li {
  margin-top: 0.3rem;
}

@media (max-width: 786px) {
  .sidebar {
    position: unset;
    width: 100%;
    height: unset;
    text-align: center;
    justify-content: center;
  }
  .sidebar .avatar {
    display: none;
  }
}
