.section {
  max-width: 1600px;
  padding: 1rem 2rem;
  margin: 0 8em 1em;
}

@media (max-width: 1025px) {
  .section {
    padding: 0 1rem;
  }
}

@media (max-width: 1920px) {
  .section {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1921px) {
  .section {
    margin: 0 auto;
  }
}
