.link {
  z-index: 1;
  position: relative;
  border-bottom: 0;
  color: var(--primary);
  text-decoration: none;
}

.link::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 0.125em;
  background: var(--primary);
  transition: all 0.2s;
  z-index: -1;
}

.link:hover {
  color: white !important;
}

.link:hover::before {
  height: 100%;
  background-color: var(--primary);
}
