.heading {
  font-family: 'JetBrainsMono-Bold';
  margin-bottom: 1rem;
  color: var(--primary);
}

.subheading {
  font-family: 'JetBrainsMono-Bold';
  margin-bottom: 0.5rem;
  color: var(--primary);
}
