@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.eot');
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../fonts/JetBrainsMono-Regular.woff') format('woff');
}
@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('../fonts/JetBrainsMono-Bold.eot');
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../fonts/JetBrainsMono-Bold.woff') format('woff');
}

* {
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #212121;
  scroll-behavior: smooth;
  font-family: 'JetBrainsMono';
  font-size: 1.05rem;
  color: #fff;
}
@media (min-width: 1921px) {
  html,
  body {
    font-size: 1.15rem !important;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: #212121;
}
::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
  border-radius: 5px;
}
::selection {
  background: #02d463;
  color: #fff;
}
::-moz-selection {
  background: #02d463;
  color: #fff;
}

p {
  cursor: default;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
