.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #212121;
}

.main {
  width: calc(100% - 22em);
  height: inherit;
}

section:not(.header):not(.ticker) {
  max-width: 1600px;
  padding: 1rem 2rem;
  margin: 0 8em 1em;
}
section.header {
  background-color: green;
  margin-bottom: 0;
  background-image: url('../public/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4em 0;
}
section.header nav > a + a {
  margin-left: 1.5rem;
}
section.ticker {
  background-color: transparent;
}

.imageContainer {
  aspect-ratio: 1/1;
  width: 60%;
}
.profileImage {
  opacity: 0.4;
  transition: opacity 250ms;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
.profileImage:hover {
  opacity: 1;
}

.row {
  display: flex;
  flex-direction: row;
}
.row > .profileInformation {
  width: 65%;
}
.row > .profilePictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

@media (max-width: 786px) {
  .wrapper {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }

  .row {
    flex-direction: column-reverse;
  }

  .row > .profileInformation,
  .row > .profilePictureContainer {
    width: 100%;
  }
}

@media (max-width: 1025px) {
  section:not(.header):not(.ticker) {
    padding: 0 1rem;
  }
}

@media (max-width: 1920px) {
  section:not(.header):not(.ticker) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1921px) {
  section:not(.header):not(.ticker) {
    margin: 0 auto;
  }
}
